<h1> Articles Page </h1>
<div class="articleBody">
<h4><strong style="color:red;">Title: </strong><%=  @article.Title %> </h4>
<h4><strong style="color:red;">Title: </strong><%=  @article.author %> </h4>
<h5><strong style="color:red;">Description: </strong><%= @article.Description%></h5>
</div>
<br><br>
<div class="Buttons">
<%= link_to 'Edit' , edit_article_path(@article.id)%> 
&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
<%= link_to 'Delete' , article_path(@article.id) , method: :delete , data: {confirm: "Are you sure ?"}%> 
&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
<%= link_to 'Article Listing' , articles_path%>
</div>